.blue-gradient-radial{
    background: radial-gradient(73.71% 319.02% at 73.71% 39.34%, #C6DDFF 0%, #35B0F5 46.35%, #69A5FF 100%);
	/*Кроссбраузерность*/
	background-image: -moz-radial-gradient(73.71% 319.02% at 73.71% 39.34%, #C6DDFF 0%, #35B0F5 46.35%, #69A5FF 100%);
	background-image: -webkit-radial-gradient(73.71% 319.02% at 73.71% 39.34%, #C6DDFF 0%, #35B0F5 46.35%, #69A5FF 100%);
	background-image: -o-radial-gradient(73.71% 319.02% at 73.71% 39.34%, #C6DDFF 0%, #35B0F5 46.35%, #69A5FF 100%);
	background-image: -ms-radial-gradient(73.71% 319.02% at 73.71% 39.34%, #C6DDFF 0%, #35B0F5 46.35%, #69A5FF 100%);
}

.turquoise-gradient-radial{
    background: radial-gradient(73.71% 319.02% at 73.71% 39.34%, #C6FFF1 0%, #10C1CC 46.35%, #6978FF 100%);
	/*Кроссбраузерность*/
	background-image: -moz-radial-gradient(73.71% 319.02% at 73.71% 39.34%, #C6FFF1 0%, #10C1CC 46.35%, #6978FF 100%);
	background-image: -webkit-radial-gradient(73.71% 319.02% at 73.71% 39.34%, #C6FFF1 0%, #10C1CC 46.35%, #6978FF 100%);
	background-image: -o-radial-gradient(73.71% 319.02% at 73.71% 39.34%, #C6FFF1 0%, #10C1CC 46.35%, #6978FF 100%);
	background-image: -ms-radial-gradient(73.71% 319.02% at 73.71% 39.34%, #C6FFF1 0%, #10C1CC 46.35%, #6978FF 100%);
}

.purple-gradient-radial{
    background: radial-gradient(73.71% 319.02% at 73.71% 39.34%, #FFD3E1 0%, #E17EF1 46.35%, #AB69FF 100%);
	/*Кроссбраузерность*/
	background-image: -moz-radial-gradient(73.71% 319.02% at 73.71% 39.34%, #FFD3E1 0%, #E17EF1 46.35%, #AB69FF 100%);
	background-image: -webkit-radial-gradient(73.71% 319.02% at 73.71% 39.34%, #FFD3E1 0%, #E17EF1 46.35%, #AB69FF 100%);
	background-image: -o-radial-gradient(73.71% 319.02% at 73.71% 39.34%, #FFD3E1 0%, #E17EF1 46.35%, #AB69FF 100%);
	background-image: -ms-radial-gradient(73.71% 319.02% at 73.71% 39.34%, #FFD3E1 0%, #E17EF1 46.35%, #AB69FF 100%);
}

.yellow-gradient-radial{
    background: radial-gradient(73.71% 319.02% at 73.71% 39.34%, #FFF7B3 0%, #F1B57E 46.35%, #FF6996 100%);
	/*Кроссбраузерность*/
	background-image: -moz-radial-gradient(73.71% 319.02% at 73.71% 39.34%, #FFF7B3 0%, #F1B57E 46.35%, #FF6996 100%);
	background-image: -webkit-radial-gradient(73.71% 319.02% at 73.71% 39.34%, #FFF7B3 0%, #F1B57E 46.35%, #FF6996 100%);
	background-image: -o-radial-gradient(73.71% 319.02% at 73.71% 39.34%, #FFF7B3 0%, #F1B57E 46.35%, #FF6996 100%);
	background-image: -ms-radial-gradient(73.71% 319.02% at 73.71% 39.34%, #FFF7B3 0%, #F1B57E 46.35%, #FF6996 100%);
}